#result {
  display: none;
}

body {
  font-size: 22px;
  background-color: #AFEEEE;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: inherit;
}


.container {
  shape-outside: padding-box;
  background-color:
  text-align: center left;
  float: center;
  border: 6px solid black;
}

h1{
  color: #A9A9A9;
  font-style: italic;
  text-align: center;
}

p{
  font-family: Georgia;
  text-align: center;
  ground-color: #AFEEEE;
}
