body {
  font-size: 22px;
  /*background-image:url("numbers.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: inherit;
}


.container {
  shape-outside: padding-box;
  background-color:
  text-align: center left;
  float: center;
  border: 6px solid black;
}

img {
  height: 200px;
  width: auto;
  margin: 40px;
}
